*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#container{
    width: 80%;
    height: 660px;
    margin: 0px auto;
    background-color: rgb(24, 22, 22);
}

a{
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: white;
}



section{
    padding: 50px;
    margin-top: 10px;
}

header nav{
    overflow: hidden;
    padding: 20px;
}

header nav h2{
    width: 50px;
    float: left;
    letter-spacing: 2px;
    
}

nav ul{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 2px;
}



section img{
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-left: 60px;
}

section h1{
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    
}

section h3{
   color: yellow;
   letter-spacing: 1px;
  
    
}

p{
    letter-spacing: 1px;
    line-height: 20px;

}

.join{
    margin-top: 25px;
    margin-left: 278px;

}

table{
    border-collapse: collapse;
    width: 42%;
    margin-top: 15px;

}

table td{
    border: 1px solid white;
   
}

td{
    padding: 10px;
}

tr:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}

footer{
    background-color: yellow;
    color: black;
    padding: 10px;
    text-align: center;
    border-bottom: 100px;
    margin-top: 10px;
}